body {
  font-family: "Montserrat", sans-serif;
  color: black;
}

header,
main {
  width: 75%;
  margin: 0 auto;
}

button,
a {
  color: white !important;
  border-radius: 5px;
  margin: 0 0.5rem;
  padding: 5px;
}

button,
label {
  display: block !important;
}

label {
  margin: 1rem 0;
  font-size: 0.9rem !important;
}

li,
label {
  color: black !important;
}

li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0.25rem 0;
}

li span {
  flex-basis: 200px;
}

.card-content {
  background-color: #327575;
}
